<div id="content">
    <div style="text-align:center">
      <h1>
        welcome to grmbl
      </h1>
    </div>
    <div class="row">
      <form>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <select id="city_id" class="form-control" name="city_id">
              <option [value]="">Pick a City</option>
              <option [value]="">Seattle, WA</option>
              <option [value]="">New York, NY</option>
              <option [value]="">Los Angeles, CA</option>
              <option [value]="">Portland, OR</option>
              <option [value]="">Houston, TX</option>
              <option [value]="">Miami, FL</option>
              <option [value]="">Indianapolis, IN</option>
              <option [value]="">Boston, MA</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" routerLink="/display">Go</button>
        </div>
      </form>
  
    </div>
  </div>
