#description {

    color: #3B3C3F;
    font-size: 16px;

}

#mDescription {

    color: #3B3C3F;
    font-size: 16px;

}

h3{
    font-size: 26px;
    font-family: 'Rye', cursive;
}

.modal-header {
    background-color: #5cb85c;
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    color: white;
}

.modal-footer {
    background-color: white;
}
