/* You can add global styles to this file, and also import other style files */
.form-control{
    background-color: #A8DEEE;
    border: 1px solid #428BCA;
}

select, option {
    background-color: #A8DEEE;
}

body {
    background-image: url("/assets/images/grumble-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail {
    background-color: rgba(0, 0, 0, .1);
    border: none;
}

#title {
    font-family: 'Rye', cursive;
}

#directions {
    color: white;
}